<header>
  <nav class="navbar">
    <div class="elements">
      <div class="logo">
        <h1>Password KeepR</h1>
      </div>
      <% if (user) { %>
        <form class="form-inline" method="post" action="/signout" style="justify-self: end;">
          <div> Hi,<%= user[0].user %>
          </div>
          <div class="form-group mb-2" style="justify-self: end;">
            <input type="submit" value="signout">
          </div>
        </form>
    </div>
    <% } else { %>

      <div>
        <form method="post" action="/signin" style="justify-self: right">
          <div>Username</div>
          <input type="username" name="username" placeholder="Username">
          <div>Password</div>
          <input type="password" name="password" placeholder="Password">
          <div>
            <input type="submit" value="signin">
          </div>
        </form>
      </div>
      <% }%>
  </nav>
</header>
