<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
   
    <form  method="get" action="/users/signin/:id">
      <div>username</div>
      <input   placeholder="username" >
      <div>Password</div>
      <input type="password" name="password" placeholder="password">
      <div>
      
        <input type="submit" value="signin">
      
  
    </form>
   
       
      
  </nav>
   
   
      
</header>