<!DOCTYPE html>
<html>

<head>
  <title>Add New Password</title>
</head>

<body>
  <h1>Add New Password</h1>
  <form action="/password" method="POST">
 
    <label for="appName">Website:</label>
    <input type="text" id="appName" name="appName" required>

    <label for="password">Password:</label>
    <input type="text" id="password" name="password" required>

    <label for="categoryName">Category:</label>
    <select id="categoryName" name="categoryID" required>
      <option value="1">Social Media</option>
      <option value="2">Finance</option>
      <option value="3">HR</option>
      <option value="4">Workspace</option>
    </select>

    <button type="submit">Add Password</button>
  </form>
</body>

</html>
