<!DOCTYPE html>
<html>

<head>
  <title>Add New Password</title>
</head>

<body>
  <h1>Add New Password</h1>
  <form action="/password" method="POST">
    <!-- Input fields for the password details -->
    <label for="websiteName">Website:</label>
    <input type="text" id="websiteName" name="websiteName" required>

    <label for="userName">Username:</label>
    <input type="text" id="userName" name="userName" required>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>

    <label for="categoryName">Category:</label>
    <input type="text" id="categoryName" name="categoryName" required>

    <button type="submit">Add Password</button>
  </form>
</body>

</html>
