<!DOCTYPE html>
<html>

<head>
  <title>Add New Password</title>
  <link rel="stylesheet" href="/styles/main.css" />
</head>

<body>
  <div class="edit-header">
    <h1> Password KeepR </h1>
  </div>

  <h2>Add New Password</h2>
  <form action="/password" method="POST">


    <label for="appName">Website:</label>
    <input type="text" id="appName" name="appName" required>

    <label for="password">Password:</label>
    <input type="text" id="password" name="password" required>

    <label for="categoryName">Category:</label>
    <select id="categoryName" name="categoryID" required>
      <option value="1">Social Media</option>
      <option value="2">Finance</option>
      <option value="3">HR</option>

      <option value="4">Workspace</option>
    </select>

    <button class="add-button" type="submit">Add Password</button>
  </form>
  <a class="gp" href="/generatepassword" target="_blank"  class="link1"><h3>Generate Password</h3></a>
</body>

</html>
