<!-- editPassword.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Edit Password</title>
</head>
<body>
  <h1>Edit Password</h1>
  <form action="/api/passwords/<%= passwordId %>" method="POST">
    <label for="appName">App:</label>
    <input type="text" id="appName" name="appName" value="<%= name %>" disabled>

    <label for="password">Password:</label>
    <input type="text" id="password" name="password" value="<%= password %>" required>


    <button type="submit">Save Password</button>
  </form>
</body>
</html>
