<!DOCTYPE html>
<html>
<head>
  <title>Edit Password</title>
</head>
<body>
  <h1>Edit Password</h1>
  <form id="editPasswordForm" action="/passwords/<%=password.id%>/edit" method="POST">
    <!-- Input new password to be updated -->
    <label for="apps">Website:</label>
    <input type="text" id="apps" name="apps">

    <label for="username">Username:</label>
    <input type="text" id="username" name="username">

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" placeholder="New Password"required>

    <label for="category">Category:</label>
    <input type="text" id="category" name="category">

<br>
    <button type="submit">Save</button>
  </form>
<br>
  <form action="/passwords/delete" method="POST">
    <button type="submit">Delete Password</button>
  </form>
  <script src="/routes/editPassword.js"></script>
</body>
</html>
