<!DOCTYPE html>
<html>
<head>
  <title>Edit Password</title>
</head>
<body>
  <h1>Edit Password</h1>
  <form id="editPasswordForm" action="/passwords/edit" method="POST">
    <!-- Input new password to be updated -->
    <label for="website">Website:</label>
    <input type="text" id="website" name="website" value="<%= password.website %>" required>
    <br>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" value="<%= password.username %>" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" value="<%= password.password %>" required>
    <br>
    <button type="submit">Save Changes</button>
  </form>

  <form action="/passwords/delete" method="POST">
    <button type="submit">Delete Password</button>
  </form>
  <script src="/routes/editPassword.js"></script>
</body>
</html>
