<!-- editPassword.ejs -->
<!DOCTYPE html>
  <div
  class="edit_logo">
  </div>
<html>
<head>
  <link rel="stylesheet" href="/styles/main.css" />
</head>
<body>
  <header class="edit-header">
    <h1> Password KeepR </h1>
   </header>
  <h1>Edit Password</h1>
  <form action="/api/passwords/<%= passwordId %>" method="POST">
    <label for="password">Password:</label>
    <input type="text" id="password" name="password" value="<%= password %>" required>

    <button type="submit">Save Password</button>
  </form>
  <a class="gp" href="/generatepassword" target="_blank"  class="link1"><h3>Generate Password</h3></a>
</body>
</html>
